/*basic ellements*/
html{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #00445E;
    margin: 0px;
}
h1{
    font-size: 80px;
    text-align: center;
    margin: 0px;
}

h2{
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

h3{
    font-size: 40px;
    margin: 0px 0px 20px 0px;
}

p{
    font-size: 21px;
    line-height: 30px;
}

a{
    text-decoration: none;
}

button{
    background-color: red;
    display: block;
    text-transform: uppercase;
    border: none;
    font-size: 31px;
    color: white;
    font-weight: bold;
    padding: 5px 80px;
    margin-bottom: 57px;
    float: right;
}

/*classes*/
.reset{
    clear: both;
}

/*Custom ellements*/
#container{
    width: 1645px;
    margin: 0px auto;
}

#helloCard{
    background-color: red;
    width: 812px;
    height: 455px;
    border-radius: 20px;
    margin-bottom: 55px;
    float: left;
}

#personalInfo{
    background-color: white;
    padding:20px 28px;
    
}

#personalInfo p, #personalInfo h3{
    color:#00445E;
}

#personalInfo img{
    float: right;
    margin-left: 48px;
   
}

#myLaptop{
    width: 798px;
    margin:0px 0px 55px 35px;
    float: left;
}

#myHobbies{
    width: 1195px;
    margin-bottom: 55px;
    float: left;
}

#myHobbies img{
    margin-right: 12px;
}

#myHobbies img:last-child{
    margin-right: 0px;
}

#myShoe{
    width: 398px;
    float: right;
}

#polariod{
    width: 350px;
    height: 458px;
    background-color: white;
    padding: 24px;
    color:#00445E; 
}

#polariod ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#polariod li{
    margin: 0px;
}

